/*main html styling*/
/*refer to appendix 1*/

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
}

body{
  background: lavender;
  height: 100%;
  overflow-x: hidden;
}

header, footer{
  width: 100%;
  height: 10%;
  background-color: LightBlue;
  margin: 1px;
  text-align: center;
  padding: 5px;
}

header{
  font-size: 25px;
}

footer{
  height: 15%;
  position: absolute;
  top:100%;
  margin: 1px;
  font-size: 15px;
  display: table;
}

footer p{
  vertical-align: middle;
  display: table-cell;
}

#leftSection, #middleSection{
  border: 2px solid darkcyan;/*around 2 sections*/
  padding: 5px;
  height: 90%;
}

#leftSection{
  width: 30.5%;
  float: left;
  background: #4d4d80;
}

#middleSection{
  width: 69.5%;
  float: right;
  background: Gainsboro;
}

#setup, #scores{
  border: 1px solid black;
  padding: 10px;
}

.tabcontent{
  height: 85%;
}

fieldset{
  border-color: Gainsboro;
  padding: 5px 0px 10px 10px;
}

legend{
  font-size: 1.2em;
  color: #09384e; /*super dark blue*/
  font-weight: bold;
  margin: 5px;
}

label{
  width: 40%;
  margin: 2px;
  float: left;
}

.disabledButton, .playnow, .cancel{
  width: 40%;
  cursor: pointer;
  padding: 10px 0px;*/
  overflow: hidden;
  border: none;
  font-size: 15px;
}

.disabledButton{
  color: black; /*disabled*/
  background-color: #e7e7e7;/*disabled - very light nice grey*/
}

.playnow{ /*greenButton, enabled*/
  background-color: #4caf50; /*nice light green*/
  color:white;
}

.cancel{ /*redButton, enabled*/
  background-color: #f44336; /*orange/red*/
  color:white;
}

#progress label{
  display: block;
}

#move{
  float: left;
  margin: 0px;
}

#move input{
  width: 62px;
  display: block;
}

.time{
  float: left;
  margin: 0px;
}

.time input{
  width: 40px;
  display: block;
}

#tile{ /*blueButton*/
  color: #008CBA; /* pastel gras medium blue */
}

#checkBoardId{
  float: left;
  width: 100%;
  height: 100%;
}

.puzzleBoard{
  margin: 1px 20px;
  border: 3px solid black;
  padding: 2px;
  float: right;
  width: 85%;
  height: 100%;
  overflow: hidden;
}

.filedTile, .emptyTile{
  width: 1%; /*changes with level*/
  height: 200px; /*changes with level*/
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #77b3ed; /*light pretty blue*/
  border: 2px solid #404c50; /*dark grey*/
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin: 2px;
  position: relative;
}

.emptyTile{
  background-color: #afd9ec;
  color: #afd9ec;
}

.coin{
  position: absolute;
  top: 90%;
  right: 95%;
  font-size: 9px;
}
