/* styling for the two tabs in leftSection*/
/* styling for score table*/
/*refer appendix 2*/


/*****  tabs structure ****/
/*style for entire tabs menu*/
.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/*style for individual tabs*/
.tab button{
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.tab button:hover{
  background-color: #ddd;
}

/*active button class*/
.tab button.active{
  background-color: #ddd;
}

.tabcontent{
  background-color: LightBlue;
  margin: 2px;
  padding: 10px;
}

/*------ Stats table -------*/
#scores{
  margin: 10px;
}

.tableStats {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.tableStats th, .tableStats td{
  padding: 5px;
}

.tableStats tr:nth-child(even){
  background-color: Aliceblue;
}

.tableStats tr:nth-child(odd){
  background-color: #cce6ff;
}

.tableStats th{
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tableStats td{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
